@font-face {
  font-family: 'DM Sans';
  font-display: swap;
  font-weight: 400;
  src: url('./DMSansRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Sans';
  font-display: swap;
  font-weight: bold;
  src: url('./DMSans700.woff2') format('woff2');
}
